@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url(./_reset.css);

body {
    font-family: "Poppins", sans-serif;
}

.page-wrap {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    box-sizing: content-box;
    width: 100%;
}

.box {
    margin-left: 20px;
}

.h1 {
    font-size: 40px;
    text-align: center;
}

.title {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
}

.card-txt {
    padding: 10px;
    margin-left: 5px;
    font-weight: bolder;
}

.txt {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: 15px;
}


.color {
    padding: 20px;
    width: 200px;
    height: 200px;
}


.r {
   font-size: 10px;
}

.card-item {
    box-shadow: 8px 7px 14px 0px black, inset 9px -7px 16px -10px black;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: #F5F7FB;
    border-radius: 5%;
}

.color1 {
    background-color: #5587A2;
}

.color2 {
    background-color: #EFCFC5;
}

.color3 {
    background-color: #F6D358;
}

.color4 {
    background-color: #88B24B;
}

.color5 {
    background-color: #97D5E0;
}

.color6 {
    background-color: #D12F76;
}

